@page
@using SmartSchedulingApp.Permissions
@using Microsoft.AspNetCore.Authorization
@using SmartSchedulingApp.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SmartSchedulingAppResource> L
@inject IAuthorizationService AuthorizationService
@using SmartSchedulingApp.Web.Pages.Staffs;
@model IndexModel

@section scripts
    {
    <abp-script src="/Pages/Staffs/Index.js" />
}
<div class="row">
    <div class="col">
        <h4>@L["Staff"]</h4>
    </div>
</div>
<abp-card>
    <abp-card-body>
        <abp-table striped-rows="true" id="StaffTable"></abp-table>
    </abp-card-body>
</abp-card>
